/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  width: 1020px;
  height: 864px;
  padding: 60px 40px 0;
  margin: 0 auto;
  background-color: #2d303a;
}

.portfolio__name {
  font-size: 30px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.portfolio__description {
  width: 940px;
  height: 50px;
  font-size: 18px;
  line-height: 67px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}

.portfolio__nav-bar {
  display: flex;
  width: 290px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.portfolio__nav-element {
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.portfolio__nav-element:hover {
  border: 1px solid #c5c5c5;
  color: #dedede;
}

.portfolio__content {
  height: 601px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 10px;
  overflow: hidden;
}

.portfolio__img {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.portfolio-bottom {
  width: 1020px;
  height: 6px;
  margin: 0 auto;
  background-color: #323746;
}

.about-us {
  padding: 60px 40px 0;
  margin: 0 auto;
  width: 1020px;
  height: 728px;
  background-color: #f2f2f2;
}

.about-us__name {
  font-size: 30px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.about-us__description {
  width: 940px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 17px;
  text-align: justify;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.person__name {
  font-size: 18px;
  margin-top: 11px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  overflow: hidden;
}

.person__description {
  width: 301px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-top: 8px;
}

.person__social {
  height: 50px;
  margin-top: 23px;
  display: flex;
}

.about-us__icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 16px;
  border: 1px solid #666d89;
  filter: invert(40%) sepia(34%) saturate(314%) hue-rotate(191deg) brightness(98%) contrast(87%);
  cursor: pointer;
}

.about-us__icon:hover {
  border: 1.5px solid;
}

.about-us__icon--fb {
  background-image: url(./assets/facebook.svg);
}
.about-us__icon--gp {
  background-image: url(./assets/google+.svg);
}
.about-us__icon--tw {
  background-image: url(./assets/twitter.svg);
}
.about-us__icon--li {
  background-image: url(./assets/linkedin.svg);
}

.about-us-bottom {
  width: 1020px;
  height: 6px;
  margin: 0 auto;
  background-color: #ffffff;
}